* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  position: relative;
  background-image: url(https://images.pexels.com/photos/631342/pexels-photo-631342.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
}

.header {
  position: absolute;
  font-size: 1.5rem;
  top: 5px;
}

.container-overall {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#weather-form {
  margin: 50px 50px 30px 50px;
  border: none;
}

#weather-input {
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: inherit;
}

#weather-input:focus {
  outline: none;
}

#weather-submit {
  position: relative;
  padding: 10px;
  right: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: inherit;
}

#weather-submit:focus {
  outline: none;
  background-color: rgb(202, 202, 202);
}

.weather-container-active {
  background-color: rgba(115, 121, 228, 0.5);
  border-radius: 25px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.accordion-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.accordion-item {
  background-color: transparent;
  border: none;
}

.accordion {
  width: auto;
  margin-top: 30px;
}

.accordion-button {
  background-color: rgba(115, 121, 228, 0.75);
  padding: 16px 45px 16px 25px;
}

.long-forecast-card {
  width: 13%;
  font-size: 0.8rem;
}

.day-forecast {
  font-size: 1.2rem;
  position: relative;
  top: -10px;
  margin-bottom: 0;
}

.blurb-container {
  width: 175px;
  height: 50px;
}

.accordion-button::after {
  position: absolute;
  z-index: 100;
  margin-left: 5px;
}

.rain-card {
  position: relative;
}

.rain-card:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  border-radius: 25px;
  background-image: url(https://images.pexels.com/photos/1028600/pexels-photo-1028600.jpeg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  z-index: -1;
}

.cloud-card {
  position: relative;
}

.cloud-card:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  border-radius: 25px;
  background-image: url(https://images.pexels.com/photos/531972/pexels-photo-531972.jpeg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  z-index: -1;
}

.sun-card {
  position: relative;
}

.sun-card:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  border-radius: 25px;
  background-image: url(https://images.pexels.com/photos/912364/pexels-photo-912364.jpeg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  z-index: -1;
}

.lightning-card {
  position: relative;
}

.lightning-card:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  border-radius: 25px;
  background-image: url(https://images.pexels.com/photos/680940/pexels-photo-680940.jpeg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  z-index: -1;
}

.snow-card {
  position: relative;
}

.snow-card:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  border-radius: 25px;
  background-image: url(https://images.pexels.com/photos/6434739/pexels-photo-6434739.jpeg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  z-index: -1;
}

.mist-card {
  position: relative;
}

.mist-card:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  border-radius: 25px;
  background-image: url(https://images.pexels.com/photos/15433900/pexels-photo-15433900/free-photo-of-fog-by-the-sea-in-black-and-white.jpeg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  z-index: -1;
}
